<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<h1>카드 결제 등록</h1>
	<div class="col-md-12">
	   <div class="col-md-4">
	       <form>
	           <div class="form-group">
	               <label for="title">카드번호</label>
	               <input type="text" class="form-control" id="cardNo" placeholder="카드번호를 입력하세요">
	           </div>
	           <div class="form-group">
	               <label for="author">유효기간</label>
	               <input type="text" class="form-control" id="cardLife" placeholder="유효기간을 입력하세요">
	           </div>
	           <div class="form-group">
	               <label for="content">CVC</label>
	               <textarea class="form-control" id="cvc" placeholder="CVC를 입력하세요"></textarea>
	           </div>
	           <div class="form-group">
	               <label for="content">할부개월수</label>
	               <textarea class="form-control" id="miCnt" placeholder="할부개월수를 입력하세요"></textarea>
	           </div>
	           <div class="form-group">
	               <label for="content">결제금액</label>
	               <textarea class="form-control" id="tradeAmt" placeholder="결제금액을 입력하세요"></textarea>
	           </div>
	           <div class="form-group">
	               <label for="content">부가가치세</label>
	               <textarea class="form-control" id="vat" placeholder="부가가치세를 입력하세요"></textarea>
	           </div>
	       </form>
	       <button type="button" class="btn btn-primary" id="btn-save">등록</button>
	   </div>
	</div>
	<br/>
	<br/>
	<h1>카드결제 단건 조회</h1>
	<div class="col-md-12">
	   <div class="col-md-4">
	       <form>
	           <div class="form-group">
	               <label for="content">관리번호</label>
	               <textarea class="form-control" id="mngtNo" placeholder="관리번호를 입력하세요"></textarea>
	           </div>
	       </form>
	       <button type="button" class="btn btn-primary" id="btn-get">조회</button>
	   </div>
	</div>
	<br/>
	<br/>
	<h1>카드 결제 취소</h1>
	<div class="col-md-12">
	   <div class="col-md-4">
	       <form>
	           <div class="form-group">
	               <label for="content">관리번호</label>
	               <textarea class="form-control" id="cnlMngtNo" placeholder="관리번호를 입력하세요"></textarea>
	           </div>
	            <div class="form-group">
	               <label for="content">취소금액</label>
	               <textarea class="form-control" id="cnlTradeAmt" placeholder="취소금액을 입력하세요"></textarea>
	           </div>
	           <div class="form-group">
	               <label for="content">부가가치세</label>
	               <textarea class="form-control" id="cnlVat" placeholder="부가가치세를 입력하세요"></textarea>
	           </div>
	       </form>
	       <button type="button" class="btn btn-secondary" id="btn-cancel">취소</button>
	   </div>
	</div>
	<script src="js/app/index.js"></script>
</body>
</html>